// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

// @import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

slide_width = 90%
slide_height = 600px

slide_transition_rotate_y = 90deg
slide_transition_rotate_z = 120deg

// background
.bespoke-parent
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 20%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%), url('../images/anonymous-wallpaper.jpg') no-repeat fixed center
  
  
// menu
*
  box-sizing: border-box

nav
  background-color: rgba(255, 255, 255, 0.4)
  position: relative
  top: 4px
  min-height: 50px
  margin-bottom: 20px
  display: block
  z-index: 10000

.container
  padding: 10px 30px
  margin-left: auto
  margin-right: auto
  
.navbar-header
  margin-left: auto
  margin-right: auto
  vertical-align: middle
  display: inline-block

.navbar-brand
  padding: 0 0.3em
  display: block
  color: #eee
  text-decoration: none

.navbar-brand:hover
  color: #aaa

.judul
  color: black

.biru
  color: #0CF
.abu
  color :#666

ul li .title
  display: block
  font-weight: 900
  
.merah
  color: #F00
  
.kecil
  font-size:8pt

.track
  font-size:40pt
  color: #F00