doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Botnet

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      /// bagian kevin
      section
        h1.judul Botnet
        h3 created by : 
        p Kevin Suwantio (13 111 0585)
        p Bukhari (13 111 1963)
        p Santun (13 111 1254)
        p Steven (13 111 1378)

      section
        h2 Apa itu botnet?

      section
        h2.bullet Botnet terdiri dari kata
        ul
          li "Bot" dan "Net" 
          li dimana <i class="biru">"Bot"</i> adalah komputer 
          li <i class="biru">"Net "</i> adalah jaringan .
        
 
      section
        h2 Pengertian lain :
        br
        ul
          li <i class="abu">Dimana dalam arti lain adalah</i> 

          li <b>"Bot"</b> dan <b>"Net"</b>
          li Dimana <i class="biru">"Bot"</i> adalah komputer.
          li <i class="biru">"Net"</i> adalah jaringan.
          
      section
        h2.bullet Pengertian lain :
        ul 
          li Dimana dalam arti lain adalah 
          li komputer yang terinfeksi oleh software-software (malware) dimana dengan terinfeksi itu maka si hacker dapat mengendalikan komputer yang terinfeksi, dan botnet tersebut dikendalikan dengan sebuah remote
          li Kemudian malware yang disusupkan pada komputer tersebut bertugas untuk mencuri data-data penting (login, informasi credit card dan sebagainya), kemudian menginfeksi komputer lain.    
      section
        h2 Ilustrasi dasar Botnet
        img(src="images/botnet.jpg")
      
      section
        h2 Kejahatan yang disebabkan botnet
        h3.Bullet Seperti:
        ul
          p
            ol
              li Pencurian Password
              li Penyebaran mass-email(spam)
              li Mencuri data website (Informasi, credit card dll)
              li Penipuan dsb.
      
      section
        h2 Sejarah Botnet
        h4.bullet Sebelum adanya botnet, virus dan worm adalah ancaman yang paling berbahaya didunia.
        h3.bullet kenapa?
        
      section 
        h2.bullet Dikarenakan karena Botnet :
        ul 
          li attacker bisa melakukan remote terhadap komputer yang terinfeksi dari jarak jauh
          li Namun, apabila virus / worm telah dihapus dari komputer maka attacker tidak bisa melakukan remote terhadap komputer tersebut lagi.
          
       section
          h2.bullet contoh worm dan virus :
          ul
            li Melissa email worm(1999),ILOVEYOU(2000),CodeRed(2001),Slammer(2003), dan Sasser (2004).
      
       section
          h2 Asal mula botnet :
          ul
            li Awalnya konsep remote bot muncul dari IRC(Internet Relay Chat).
            li Digunakan untuk membantu administrator mengendalikan channel-channel yang terdapat pada IRC dan salah satu.
            li contoh implementasinya adalah "Eggdrop" pada tahun 1993.
            li Namun seiiring waktu berjalan attacker mulai menyadari bahwa bot dapat digunakan untuk hal-hal bersifat kejahatan dan dari sinilah asal mula botnet.

      section
        h2.bullet contoh worm dan virus :
        ul
          li Melissa email worm(1999),ILOVEYOU(2000),CodeRed(2001),Slammer(2003), dan Sasser (2004).
   
      //bagian steven
      section
        h2 Sebagai <i class = "biru">webmaster</i> dari website tersebut, apa saja yang harus dilakukan?  
        
      section        
        h2.bullet <u class="merah">Pertama</u>
        ul
          li Carilah <i class="merah">Malware</i>-<i class="merah">Malware</i> yang sedang bersembunyi pada website anda.
          li <i class="merah">Malware</i> bisa jadi menyusup ke dalam script-script website anda, atau menyamar menjadi file-file lain, dan sebagainya.
          li Meskipun  kurang akurat, Google Webmaster Tool dapat membantu melakukan tracking <i class="merah">Malware</i>.           
          li Caranya, Daftarkan saja akun anda pada <a href= "https://www.google.com/webmasters"> https://www.google.com/webmasters </a>
      section         
        h2.bullet <u class="merah">Kemudian</u>
        ul
          li Jika sudah bersih, submit request reconsideration pada Google melalui form ticket pada URL berikut: 
          li <a href ="https://www.google.com/webmasters/tools/reconsideration">https://www.google.com/webmasters/tools/reconsideration</a> 
          li Sayangnya Google kurang bertanggungjawab dalam hal ini.
          li Kadang setelah tiket disubmit, anda harus menunggu 1 hari – 1 minggu – 1 bulan agar website anda direconsider lagi.

      section         
        h2.bullet <u class="merah">Terakhir</u>
        ul
          li Disarankan untuk melindungi komputer anda terhadap virus paling dikenal, sehingga anda mungkin dapat mendeteksi dan menghapus virus sebelum dapat melakukan kerusakan apapun. 
          li Karena penyerang terus menulis virus baru, penting untuk menjaga definisi anda up to date. 
          li Beberapa vendor anti-virus juga menawarkan software anti-rootkit. 
          li Lalu Install Firewall - Firewall yang mungkin dapat mencegah beberapa jenis infeksi oleh memblokir lalu lintas berbahaya sebelum dapat memasuki komputer anda dan membatasi lalu lintas yang anda kirim.
 
      section
        h2.bullet <small><u class="merah">Terakhir...</u></small>
        ul      
          li Beberapa sistem operasi benar-benar termasuk firewall, tetapi Anda harus memastikan diaktifkan.
          li Gunakan password yang baik - Pilih password yang akan sulit bagi penyerang untuk menebak, dan menggunakan password yang berbeda untuk program dan perangkat yang berbeda 
          li lihat Memilih dan Melindungi Sandi untuk informasi lebih lanjut). Jangan memilih opsi yang memungkinkan komputer untuk mengingat password anda.
          li Oleh sebab itu berhati-hatilah terhadap <i class="merah">Malware</i>. Bisa jadi saat ini website atau komputer pengunjung website kita telah dikonversi menjadi sepasukan zombie.
          li Spread awareness tentang Botnet kepada sesama pemilik website di samping kita.
          
      section
        h4 Bagaimana kita mengetahui sebuah website mengandung <i class="merah">Malware</i> atau tidak ?
        ul
          li
          li Untuk Mengetahui bagaimana sebuah website terindentifikasi mengandung <i class="merah">Malware</i> atau tidak kita bisa menggunakan Google Webmaster Tool
          li Tetapi bagaimana apabila, website yang kita kunjungi mengandung <i class="merah">Malware</i> ? 
          li Berikut akan dibahas di <u class="biru">Common case</u>
          
      section
        h2 <u class ="biru">COMMON CASE</u>

      section
        ul
          li Ketika sedang berselancar di <i>Internet</i>. Mungkin anda pernah melihat tampilan seperti ini:
          img(src="images/commoncase1.jpg")
          li <i class="kecil">Warning yang menandakan bahwa website yang ingin dimasuki mengandung <i class="merah">Malware</i></i>
      section
        ul 
          li Atau mungkin tampilan seperti ini:
          img(src="images/commoncase2.jpg")
          li <i class="kecil">Menandakan bahwa halaman yang dituju melakukan percobaan penyerangan ke komputer anda dan telah terblock</i>.
      section
        h2 <u class="merah"><small>Artinya</small></u>
        ul
          li
          li Website yang tengah anda kunjungi telah diblokir oleh Google sebab terindikasi ditemukan <i class="merah">Malware</i> di dalamnya.
      
      section
        ul 
          li Botnet tidak lebih dari sebuah alat, motif penggunaan botnet ini berbeda-beda, tetapi umumnya penggunaan ini bersifat merusak.
          li Berikut beberapa contoh penggunaan botnet yang umum:
      section
        ul 
          li <u class ="biru"><b>1. Serangan ke Distributed Denial-of-Service</b></u>
          li Botnet sering digunakan untuk menyerang DDoS. 
          li Serangan terhadap sistem komputer atau jaringan yang menyebabkan hilangnya layanan kepada pengguna.
          li Biasanya hilangnya konektivitas jaringan dan layanan dengan mengkonsumsi bandwidth jaringan korban atau overloading sumber daya komputasi dari sistem korban

      section
        ul 
          li <u class ="biru"><b>2. Spamming</b></u>
          li Beberapa bots menawarkan kemungkinan untuk membuka SOCKS v4 / v5 proksi - protokol proxy yang generik untuk aplikasi TCP / IP berbasis jaringan (RFC 1928) - pada mesin dikompromikan.
          li Setelah diaktifkan SOCKS proxy, mesin ini kemudian dapat digunakan untuk tugas-tugas jahat seperti spamming.
          li Dengan bantuan dari botnet dan ribuan bots, penyerang mampu mengirim sejumlah besar email massal (spam) dalam sekejap.

      section
        ul
          li <u class ="biru"><b>3. Sniffing Lalu Lintas</b></u>
          li Bot juga dapat menggunakan packet sniffer untuk menonton dengan jelas-data teks yang dikirimkan.
          li Umumnya Sniffing dilakukan untuk mendapatkan informasi rahasia seperti username dan password. 
          li Tetapi dalam melakukan sniffing terkadang botnet bisa mendapatkan informasi menarik lainnya, yaitu bisa mendapatkan data dari botnet lainnya.
          li Dengan kata lain botnet dapat mencuri semua informasi yang ada pada botnet lainnya.

      section
        ul 
          li <u class ="biru"><b>4. Keylogging</b></u>
          li Jika mesin dikompromikan menggunakan saluran komunikasi terenkripsi (misalnya HTTPS atau POP3S). sniffer akan sia-sia saja dilakukan, karena kunci yang tepat untuk deskripsi sudah akan hilang.
          li Tapi kebanyakan bot juga menawarkan fitur untuk membantu dalam situasi ini, yaitu fitur keylogger.
          li Dengan bantuan keylogger sangat mudah bagi penyerang untuk mengambil informasi sensitif. 
          li Hanya dengan memasukkan kata kunci untuk penyaringan. Data rahasia akan dengan mudah dicuri.
       
      section
        ul 
          li <u class ="biru"><b>5. Menyebarkan Malware Baru</b></u>
          li Dalam kebanyakan kasus botnet digunakan untuk menyebarkan bot baru dalam bentuk malware.
          li Ini sangat mudah dilakukan karena bot menimplementasikan mekanisme untuk mendownload dan mengeksekusi file via HTTP maupun FTP.
          li Dan menyebarkan virus dengan cara ini merupakan cara yang sangat ampuh karena mereka dapat menyebarkan virus dengan sangat cepat.
        
      section
        ul 
          li <u class ="biru"><b>6. Instalasi Iklan Add-Ons</b></u>
          li Botnet juga bisa digunakan untuk mendapatkan keuntungan finansial.
          li Biasa digunakan dengan cara mendirikan situs palsu dengan beberapa iklan.
          li Operator dari situs palsu ini biasanya akan langsung negosiasi dengan beberapa perusahaan hosting yang membayar untuk klik pada iklan.
          li Dengan bantuan botnet, klik tersebut dapat otomatis dilakukan.
          li Sehingga halaman  berisi iklan tersebut akan langsung ter popup meskipun kita tidak melakukan klik.
      section
        ul 
          li <u class ="biru"><b>7. Melanggar Google AdSense</b></u>
          li Sebuah penyalahgunaan serupa juga terjadi dengan program Google AdSense: 
          li AdSense menawarkan perusahaan kemungkinan untuk menampilkan iklan Google di situs web mereka sendiri dan mendapatkan uang dengan cara ini.
          li Perusahaan menghasilkan uang karena klik pada iklan tersebut, misalnya per 10.000 klik dalam satu bulan.
          li Seorang penyerang dapat penyalahgunaan program ini dengan memanfaatkan botnet untuk klik pada iklan tersebut dalam mode otomatis dan dengan demikian artifisial increment klik counter.
          li Semacam ini penggunaan untuk botnet relatif jarang, tetapi bukan ide yang buruk dari perspektif penyerang.
      section 
        ul 
          li <u class ="biru"><b>8. Menyerang network chat IRC</b></u>
          li Botnet juga digunakan untuk melakukan serangan terhadap IRC(Internet Relay Chat).
          li Yang paling sering terjadi adalah "serangan Clone".
          li Metodenya adalah Korban dibanjiri oleh permintaan layanan dari ribuan bot atau ribuan channel-bergabung dengan bot kloning ini.          
          li Dengan cara ini, jaringan IRC korban dibawa turun - mirip dengan serangan DDoS.
          
       section 
         ul
           li <u class ="biru"><b>9. Memanipulasi polling online / game online</b></u>
           li polling online dan game online  sangat mudah dimanipulasi dengan botnet.
           li Karena setiap bot memiliki IP address yang berbeda-beda.
           li Setiap orang akan memiliki kreditibilitas yang sama seperti suara yang dilemparkan orang yang nyata.
           li Game online juga dapat dimanipulasi sama seperti cara di atas.
           li Saat ini bot digunakan dengan cara begitu.
           li Dan cara ini mungkin akan memiliki peran penting di masa depan.
       
       section
         ul 
           li <u class ="biru"><b>10. Pencurian Identitas</b></u>
           li Beberapa common case di atas sering dikombinasikan menjadi common case yang baru.
           li Karena itu pula beredar cara untuk pencurian identitas skala besar.
           li Dan sekarang hal ini sudah menjadi salah satu kejahatan yang berkembang cepat di internet.
           li Email palsu yang berpura-pura menjadi sah.
           li Lebih sering dikenal dengan mail phising
           
       section 
         ul 
         h2 <i class="merah"><small>mail phising</small></i>
         ul
           li (seperti email PayPal atau perbankan palsu) meminta korban mereka dimaksudkan untuk online dan mengirimkan informasi pribadi mereka.
           li email palsu yang dihasilkan dan dikirimkan oleh bot mereka melalui mekanisme spamming mereka.
           li bot yang sama dapat digunakan untuk mengirimkan beberapa email palsu atas nama yang berbeda 
           li Contohnya : Ebay, perbankan, paypal.
           li meskipun kita bisa mematikan 1 bot, yang lainnya akan muncul pula di saat bersamaan.
           li inilah mengapa mustahil menghentikan perkembangan bot.
           li Selain itu keylogging dan sniffing juga dapat digunakan dalam pencurian identitas.
          
        
      
        
      
      //bagian santun
      section
        h2 Cara Kerja Botnet
        h3 Terdapat berbagai macam variasi Botnet. 
        h3 Section ini akan membahas BotNet Trojan.

      //bagian Bukhari-1
      section
        h2.bullet Tipe-tipe Botnet
        ul
          li <span class="title">Legal Botnet</span>
             Digunakan secara luas pada beberapa tipe IRC jaringan yang terhubung dan memungkinkan mengatur model saluran pada komputer lain untuk menjaga kayanan saluran IRC.
          li <span class="title">Illegal Botnet</span>
             Digunakan untuk memjebol sistem keamanan komputer dengan mengirimkan malware yang akan menggunakan saluran komunikasi komputer jaringan berbasi standar protokol jaringan seperti IRC.


      section
        h2.bullet BotNet Trojan
        p.bullet Kalau sebuah system sudah terkena BotNet Trojan, maka komputer tersebut akan mengirimkan beberapa Informasi log dari system. Dimana kita juga bisa mengontrol komputer target. Apabila dalam sebuah Windows Server maka kita bisa menggunakan Remote Desktop untuk bisa mengaksesnya. Dan apabila pada unix maka kita bisa mengambil logging password root. Kemudian kita bisa menggunakan remote login dari hak akses root.
        
      section
        h2.bullet <small>BotNet Trojan...</small>
        p.bullet BotNet biasanya dibangun menggunakan MBR (master boot record). Sebuah rootkit yang dilaksanakan pada waktu boot, sebelum sistem operasi dibuka. Setelah mesin terinfeksi, maka hasil panen malware dan upload data dalam 20 menit akan dikirimkan. Data yang dicuri termasuk e-mail account, Windows / Unix password, dan FTP credentials POP / SMTP account, Control Panel, dll.

      section
        h3 Ilustrasi cara kerja botnet
        img(src="images/illust_carakerja.jpg")
		
	  section
        h3 Ilustrasi cara kerja botnet
		img(src="images/illust_carakerja2.jpg")

      section
        p Hasil dari informasi akan diterima dan direport dalam Computer Server Attacker, sehingga informasi yang masuk bisa disimpan dan dimanipulasi.
        img(src="images/botnet_track.png")
        h5 Contoh tracing pengiriman email oleh botnet

      section
        h3 Begitu banyak cara untuk mendapatkan Informasi. Dan yang paling berbahaya apabila ada informasi sensitif anda ada didalam sana. Misalkan informasi Paypal, LR, atau akun bank Yang ada di email Anda. Sungguh sangat berbahaya!

      section
        h3 Contoh Informasi User Panel yang didapatkan Botnet
        img(src="images/userpanel.png")

      section
        h3 Contoh Informasi FTP Acccount yang didapatkan Botnet
        img(src="images/ftp.png")
      //bagian santun end

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

    script(src='build/build.js')
