doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Botnet

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      /// bagian kevin
      section
        h1.judul Botnet
        h3 created by : 
        p Kevin Suwantio (13 111 0585)
        p Bukhari (13 111 1963)
        p Santun (13 111 1254)
        p Steven (13 111 1378)

      section
        h2 Apa itu botnet?


      section
        h2 Botnet terdiri dari kata
        br
        ul
          li "Bot" dan "Net" 
          li dimana <i class="biru">"Bot"</i> adalah komputer 
          li "Net " adalah jaringan .
        
 
      section
        h2 Pengertian lain :
        br
        ul
          li Dimana dalam arti lain adalah 
          li komputer yang terinfeksi oleh software-software (malware) dimana dengan terinfeksi itu maka si hacker dapat mengendalikan komputer yang terinfeksi, dan botnet tersebut dikendalikan dengan sebuah remote
          li Kemudian malware yang disusupkan pada komputer tersebut bertugas untuk mencuri data-data penting (login, informasi credit card dan sebagainya), kemudian menginfeksi komputer lain.    
      section
         h2 Ilustrasi dasar Botnet
         img(src="images/botnet.jpg")
      
      section
        h2 Kejahatan yang disebabkan botnet
        h3.Bullet Seperti:
        ul
          li Pencurian Password
          li Penyebaran mass-email(spam)
          li Mencuri data website (Informasi, credit card dll)
          li Penipuan dsb.
      
      section
         h2 Sejarah Botnet
         h4 Sebelum adanya botnet, virus dan worm adalah ancaman yang paling berbahaya didunia.
         h3 kenapa?
      section 
         h2 Dikarenakan karena Botnet :
         br
         ul 
            li attacker bisa melakukan remote terhadap komputer yang terinfeksi dari jarak jauh
            li Namun, apabila virus / worm telah dihapus dari komputer maka attacker tidak bisa melakukan remote terhadap komputer tersebut lagi.
          
       section
          h2.bullet contoh worm dan virus :
          ul
            li Melissa email worm(1999),ILOVEYOU(2000),CodeRed(2001),Slammer(2003), dan Sasser (2004).
      



      //bagian steven
      section
        h2 Jika anda webmaster dari website tersebut, apa yang harus dilakukan? 
      
      section
        h2 Pertama
        ul
           li carilah malware-malware yang sedang bersembunyi pada website anda. Malware bisa jadi menyusup ke dalam script-script website anda, 
           li atau menyamar menjadi file-file lain, dsb. Meskipun kurang akurat, Google Webmaster Tool dapat membantu melakukan tracking malware. 
           li Daftarkan saja akun anda pada https://www.google.com/webmasters
      section
        h2 Kemudian
        ul        	
           li jika sudah bersih, submit request reconsideration pada Google melalui form ticket pada URL berikut:
           li https://www.google.com/webmasters/tools/reconsideration. Sayangnya Google kurang bertanggungjawab dalam hal ini,
           li Kadang setelah tiket disubmit, anda harus menunggu 1 hari - 1 minggu - 1 bulan agar website anda direconsider lagi.

      section
        h2 Terakhir
        ul
           li saya juga menyarankan anda untuk melindungi komputer anda terhadap virus paling dikenal, 
           li sehingga anda mungkin dapat mendeteksi dan menghapus virus sebelum dapat melakukan kerusakan apapun (lihat Memahami Anti-Virus Software untuk informasi lebih lanjut ). 
           li Karena penyerang terus menulis virus baru, penting untuk menjaga definisi anda up to date. Beberapa vendor anti-virus juga menawarkan software anti-rootkit. 
           li lalu Instal firewall - Firewall mungkin dapat mencegah beberapa jenis infeksi oleh memblokir lalu lintas berbahaya sebelum dapat memasuki komputer anda 
           li dan membatasi lalu lintas yang anda kirim (lihat Memahami Firewall untuk informasi lebih lanjut).
           li Beberapa sistem operasi benar-benar termasuk firewall, tetapi Anda harus memastikan diaktifkan.
           li Gunakan password yang baik - Pilih password yang akan sulit bagi penyerang untuk menebak, dan menggunakan password yang berbeda untuk program dan perangkat yang berbeda 
           li (lihat Memilih dan Melindungi Sandi untuk informasi lebih lanjut). Jangan memilih opsi yang memungkinkan komputer untuk mengingat password anda.
           li Oleh sebab itu maka berhati-hatilah terhadap malware. Bisa jadi saat ini website atau komputer pengunjung website kita telah dikonversi menjadi sepasukan zombie.
           li  Spread awareness tentang Botnet kepada sesama pemilik website di samping kita.
        
      
      //bagian santun
      section
        h2 Cara Kerja Botnet
        h3 Terdapat berbagai macam variasi Botnet. 
        h3 Section ini akan membahas BotNet Trojan.

      section
        h2 BotNet Trojan
        p Kalau sebuah system sudah terkena BotNet Trojan, maka komputer tersebut akan mengirimkan beberapa Informasi log dari system. Dimana kita juga bisa mengontrol komputer target. Apabila dalam sebuah Windows Server maka kita bisa menggunakan Remote Desktop untuk bisa mengaksesnya. Dan apabila pada unix maka kita bisa mengambil logging password root. Kemudian kita bisa menggunakan remote login dari hak akses root.
        p BotNet biasanya dibangun menggunakan MBR (master boot record). Sebuah rootkit yang dilaksanakan pada waktu boot, sebelum sistem operasi dibuka. Setelah mesin terinfeksi, maka hasil panen malware dan upload data dalam 20 menit akan dikirimkan. Data yang dicuri termasuk e-mail account, Windows / Unix password, dan FTP credentials POP / SMTP account, Control Panel, dll.

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')